# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# I'm not sure
*.aux
*.fdb_latexmk
*.fls
*.gz
*.toc
*.out


#helper files
conference_101719.tex
*.bbl
*.blg
references.bib